.sale-container {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #fff;
  font-weight: 800;
  border-radius: 4px;
  background-color: #fdbe15;
  padding: 0 4px;
  line-height: 0;
}
