.card-flight-container {
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 #63668030;
  border-left: 8px solid #fdbe15;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 25px 15px;
}
